body {
    font-size: 15pt;
    padding: 8px;
    background-color: #1e2125;
    font-family: monospace;
    text-align: center;
    color: #ccc;
}
  
span {
    font-size: 15pt;
    color: white;
}

a {
    color: rgb(90, 255, 161);
    text-decoration: underline;
}

meter::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background-image: linear-gradient(
      90deg, 
      #8bcf69 5%, 
      #e6d450 10%,
      #e6d450 15%,
      #f28f68 20%,
      #f28f68 55%,
      #cf82bf 70%,
      #719fd1 95%,
      #719fd1 100%
    );
    background-size: 100% 100%;
  }

meter {
    width: 50%;
    height: 20px;
}